h2{
    padding-left: 50px;
}

.navegacion{
    padding: 2rem;
}

.seccion-productos{
    margin-left: 0.5em;
}

.producto{
    padding-bottom: 7em;
    margin: 0.5em;
}

.piepagina{
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}